.loader {
    width: 18px;
    height: 18px;
    border: 2px solid var(--color-text);
    border-top: 4px solid var(--color-secondary);
    border-radius: var(--radius-pill);
    animation: spin 1s linear infinite;
    margin: 2rem auto;
}

.hidden {
    display: none;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}