/* ----- WEATHER BOX ----- */
.weather-box {
    display: grid;
    grid-auto-flow: dense;
    background-color: var(--color-surface);
    padding: var(--space-lg);
    border-radius: var(--radius-lg);
    justify-content: center;
    gap: var(--space-sm);
}

/* ----- WEATHER INFO GRID ----- */
.weather-info {
    background-color: var(--color-surface);
    padding: var(--space-md);
    border-radius: var(--radius-md);
    width: 80vw;
    max-width: 1150px;
}

/* ----- LAST BOX ----- */
.last-box {
    text-align: center;
}

/* ----- HISTORY ----- */
#container__history {
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    padding-bottom: var(--space-sm);
}

#container__history .weather-box {
    width: fit-content;
    flex-shrink: 0;
    padding: var(--space-md) var(--space-xxl);
    scroll-snap-align: start;
    cursor: pointer;
}

/*Scrollbar*/
#container__history::-webkit-scrollbar {
    height: 8px; /* horisontell scrollbar */
}

/* Bakgrunden (spåret) */
#container__history::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}

/* Själva "handtaget" */
#container__history::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
}

/* Hover-effekt */
#container__history::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.7);
}