:root {
    /*Färgpalett*/
    --color-primary: #023047;
    --color-secondary: #219ebc;
    --color-surface: #8ecae65e;
    --color-accent: #fb8600c1;
    --color-text: #fff;
    --color-muted: #e4e4e4;


    /*Typografi*/
    --font-size-xs: 0.75rem;  /* 12px */
    --font-size-sm: 0.875rem; /* 14px */
    --font-size-base: 1rem;   /* 16px */
    --font-size-md: 1.125rem; /* 18px */
    --font-size-lg: 1.25rem;  /* 20px */
    --font-size-xl: 1.5rem;   /* 24px */
    --font-size-xxl: 2rem;    /* 32px */

    /*Marginaler och padding*/
    --space-xs: 4px;
    --space-sm: 8px;
    --space-md: 16px;
    --space-lg: 24px;
    --space-xl: 32px;
    --space-xxl: 40px;

    /*Radier*/
    --radius-pill: 999px;
    --radius-sm: 8px;
    --radius-md: 16px;
    --radius-lg: 24px;
    --radius-xl: 32px;

    /*Skuggor*/
    --shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    --shadow-dark: 0 4px 8px rgba(0, 0, 0, 0.3);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: var(--font-size-base);
    font-family: sans-serif;
    overflow-y: scroll;
    line-height: 1.25;
    background: linear-gradient(to bottom, var(--color-primary), var(--color-secondary));
    color: var(--color-text);
    height: 100vh;
}