header {
    justify-self: center;
}

body {
    display: grid;
    grid-template-rows: auto 1fr;
    padding: var(--space-xl) 0;
}

main {
    justify-self: center;
    width: 90vw;
    max-width: 1200px;
}

#container__latest {
    margin: var(--space-lg) 0;
}

#container__history {
    display: flex;
    gap: var(--space-sm);
    overflow-x: auto;
}

h4 {
    margin-bottom: var(--space-xs);
}